image:
  repository: Toussema/complete-devops-project-2
  tag: 729cf6e
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 8080
ingress:
  enabled: false
serviceAccount:
  enabled: false
autoscaling:
  enabled: false
# Ajouter cette section manquante
httpRoute:
  enabled: false